# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# === Entornos virtuales ===
.venv/
venv/
env/

# === IDEs ===
.idea/
.vscode/

# === Sistema / OS ===
.DS_Store
Thumbs.db

# === Archivos temporales ===
*.tmp
*.bak
*.swp

# === Archivos grandes o de build ===
*.zip
*.tar
*.gz

# === Archivos personales ===
*.env
